<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!--4、注册应用名字-->
    <dubbo:application name="pinyougou-sellergoods-service" />

    <!--1、指定注册地址-->
    <dubbo:registry address="zookeeper://192.168.25.128:2181" />

    <!--2、暴露外部访问接口的端口和协议-->
    <dubbo:protocol name="dubbo" port="20880" />

    <!--3、Dubbo包扫描-->
    <dubbo:annotation package="cn.jxufe.sellergoods.service.impl" />


</beans>
